<div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between p-4" style="background-color: rgb(243, 244, 246);">
                <div class="d-flex">
                    <div class="for-radio" *ngFor="let x of timeFrameList;let i=index">
                        <input class="radio" type="radio" id="time{{i}}" name="time" value="{{x}}" [checked]="i==0"
                            (change)="onChange($event)">
                        <label *ngIf="i!=4" class="px-3" for="time{{i}}" id="time{{i}}">{{x}}d</label>
                        <label  *ngIf="i==4" class="px-3" for="time{{i}}" id="time{{i}}">{{x}}</label>

                    </div>
                </div>
                <div class="d-flex">
                    <div class="for-radio" *ngFor="let x of chartList;let i=index">
                        <input class="radio" type="radio" id="chart{{i}}" name="chart" value="{{x}}" [checked]="i==0"
                            (change)="onChange2($event)">
                        <label class="px-3" for="chart{{i}}" id="chart{{i}}">{{x}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div >
    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>
</div>
